certifi==2017.7.27.1
chardet==3.0.4
django>=1.11.18
djangorestframework==3.7.1
django-debug-toolbar==1.8
django-environ==0.4.4
django-extensions==1.9.1
django-filter==1.0.4
django-cors-headers==2.1.0
django-rest-swagger==2.1.2
drfdocs
Pillow
requests==2.18.4
idna==2.6
Markdown==2.6.9
pytz==2017.2
six==1.11.0
urllib3==1.26.5
whitenoise==3.3.1
